html{
    background: #FFF; 
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
nav {
    background-color: #333;
    display: flex;
    justify-content: flex-end; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #000000;
}

nav ul li a.active {
    background-color: #48AAAD;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
    color: #FFF;
}

.right {
    text-align: right;
    align-self: flex-end; 
    color: #fff; 
}


h1{
    font-size: 26px;
    margin: 0;
    font-family: 'Roboto';
}

h2{
    font-size: 26px;
    margin: 0;
    font-family: 'Roboto';
}

h3{
    font-size: 20px;
    margin: 0;
    font-family: 'Roboto';
}

p, li{
    font-size: 16px;
    width: 100%;
    text-align: justify;
    font-family:'Roboto';
}

nav{
    font-size: 16px;
    margin: 0;
    font-family: 'Roboto';
}

body {
    margin: 0;
}

article, aside{
    padding: 0 60px;
}